* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
}
header .navbar-toggler {
  color: #e4db12;
  position: relative;
  left: -140px;
  width: 40%;
  border: 2px solid #e4db12;
}

.logo-header {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 110px;
  position: absolute;
  top: -20px;
  padding: 10px;
}
@media (max-width: 580px) {
  .logo-header {
    width: 0%;
  }
}
@media (max-width: 985px) {
  .logo-header {
    width: 0%;
  }
}

.nav-item a {
  font-size: 27px;
  align-content: space-around;
  color: aliceblue;
  margin: 3px;
  padding: 3px;
}
.nav-item a:hover {
  color: #e4db12;
}
.nav-item i {
  position: relative;
  left: 25px;
  color: white;
}
.nav-item i:hover {
  color: #e4db12;
}

/* carrousel */
.presentacion {
  text-align: start;
  line-height: 2em;
}
.presentacion img {
  height: 650px;
  width: 900px;
  border-radius: 9px;
  background-size: cover;
  margin-left: -600px;
  position: relative;
  bottom: 100px;
}
@media (max-width: 768px) {
  .presentacion img {
    border-radius: 29px;
    width: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 300px;
  }
}
.presentacion h2 {
  color: #e4db12;
  padding: 90px;
}
.presentacion .boton_vermas {
  justify-content: center;
  width: 30%;
  margin: 25px;
  margin-left: 190px;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  font-size: 19px;
  color: black;
  background-color: white;
  box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.presentacion .boton_vermas:hover {
  color: white;
  background-color: #e4db12;
}

.text-present p {
  position: relative;
  top: 10px;
  align-items: center;
  color: white;
  font-size: 33px;
}

#galeria {
  background-color: black;
}
#galeria img {
  width: 75%;
}
#galeria .col-lg-6 {
  margin: 0px;
  padding: 25px;
}
#galeria p {
  position: absolute;
  left: 22%;
  font-size: 30px;
}
#galeria h2 {
  color: #e4db12;
}
#galeria h5 {
  font-size: 30px;
}
#galeria a {
  color: white;
  text-decoration: none;
}

figcaption {
  color: white;
}

p {
  color: white;
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

footer {
  position: static;
  border: 1px solid #e4db12;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}
.footer-nav {
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
}

.footer-nav .footer-izquierdo, .footer-nav .footer-center, .footer-nav .footer-derecho {
  display: inline-block;
  vertical-align: top;
}

/* Footer izquierdo*/
.footer-nav .footer-izquierdo {
  width: 30%;
}

.footer-nav h3 {
  color: #ffffff;
  font: normal 36px;
  margin: 0;
  font-size: 37px;
}

.footer-nav h3 span {
  color: #e4db12;
}

/* Footer links */
.footer-nav .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  font-size: 20px;
}

.footer-nav .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-nav .footer-company-name {
  color: #44484b;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

/* Footer Center */
.footer-nav .footer-center {
  width: 35%;
}

.footer-nav .footer-center i {
  background-color: #33383b;
  color: white;
  font-size: 30px;
  width: 38px;
  height: 38px;
  border-radius: 60%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-nav .footer-center i.fa-envelope {
  font-size: 25px;
  line-height: 38px;
}

.footer-nav .footer-center p {
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin: 0;
  font-size: 21px;
}

.footer-nav .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-nav .footer-center p a {
  color: white;
  text-decoration: none;
}

/* Footer derecho */
.footer-nav .footer-derecho {
  width: 30%;
}

.footer-nav .footer-company-about {
  line-height: 30px;
  color: #92999f;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.footer-nav .footer-company-about span {
  display: block;
  color: #e4db12;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-nav .footer-iconos {
  margin-top: 25px;
}

.footer-nav .footer-iconos a {
  display: inline-block;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 4px;
  font-size: 27px;
  color: #ffffff;
  text-align: center;
  line-height: 45px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.footer-nav .footer-iconos a:hover {
  background-color: #e4db12;
}

.footer-links a:hover {
  color: #e4db12;
}

@media (max-width: 880px) {
  .footer-nav .footer-izquierdo, .footer-nav .footer-center, .footer-nav .footer-derecho {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-nav .footer-center i {
    margin-left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
